<navbar></navbar>

<div class="container" ng-if="vm.isAdmin()">
  <div class="row">
    <div class="col-sm-12">
      <div class = "panel panel-primary">
        <div class ="panel-heading">Phishing Rule Detection Attributes Adjustments </div>

        <div class = "panel-body">
          <div class="row">
            <div class="col-md-12">
            <form name="ruleDetailsForm" novalidate ng-submit="vm.updateRule(ruleDetailsForm)">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Code</label>
                <label  class="col-sm-9 col-form-label">
                  {{vm.rule.code}}
                </label>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" ng-model="vm.rule.name" class="form-control " id="name" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="weight" class="col-sm-3 col-form-label">Weight</label>
                <div class="col-sm-9">
                  <rzslider id="weight" rz-slider-model="vm.rule.weight" rz-slider-options="vm.weightSlider.options"></rzslider>
                </div>
              </div>
              <div class="form-group row" ng-if="vm.suspiciousSlider">
                <label for="suspiciousSlider" class="col-sm-3 col-form-label">Suspicious Threshold
                  <span ng-if="vm.rule.unit">({{vm.rule.unit}})</span></label>
                <div class="col-sm-9">
                  <rzslider id="suspiciousSlider" rz-slider-model="vm.rule.suspicious" rz-slider-options="vm.suspiciousSlider.options"></rzslider>
                </div>
              </div>
              <div class="form-group row" ng-if="vm.phishingSlider">
                <label for="phishingSlider" class="col-sm-3 col-form-label">Phishing Threshold
                  <span ng-if="vm.rule.unit">({{vm.rule.unit}})</span></label>
                <div class="col-sm-9">
                  <rzslider id="phishingSlider" rz-slider-model="vm.rule.phishing" rz-slider-options="vm.phishingSlider.options"></rzslider>
                </div>
              </div>
              <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" ng-model="vm.rule.description" id="description" rows="8"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button" ng-click="vm.goToRules()" class="btn btn-default">Back to Rules</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>

