<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>PhishEdu</h1>
    <p class="lead">Phish the phish!</p>
    <img src="assets/images/icon-phishing.png" hight="70px" width="70px" alt="PhishEdu">
  </div>
</header>

<div ng-if="vm.isAuthenticated()" class="container">
  <div >
    <div class="row">
      <div class="col-lg-12">
        <form class="form-horizontal marginTop15">
          <div class="form-group">
            <div class="col-md-9">
              <input type="text" class="form-control " placeholder="Check website" ng-model="vm.scan.url">
            </div>
            <div class="col-md-1">
              <input type="text" class="form-control " placeholder="Target" ng-model="vm.scan.target">
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" ng-click="vm.scanUrl()">Scan</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11">
      Phishing Website Detection Feature:
    </div>
    <div class="col-lg-1">
      Value:
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      FINAL SCORE: {{vm.scanResults.finalScore}}
      <span class="badge badge-pill badge-success">Success</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group">
        <li ng-repeat="rule in vm.scanResults.rules" class="list-group-item d-flex justify-content-between align-items-center">
          {{rule.name}}
          <span ng-if="vm.scanResults.statistics[rule.code].count >= -2"
                ng-class="vm.applyCollor(vm.scanResults.statistics[rule.code].value)" class="badge badge-pill">
             <span ng-if="vm.scanResults.statistics[rule.code].count === -2">{{vm.phishingClass(vm.scanResults.statistics[rule.code].value)}}</span>
             <span ng-if="vm.scanResults.statistics[rule.code].count !== -2">{{vm.scanResults.statistics[rule.code].count}}</span>
          </span>
          <span ng-if="vm.scanResults.statistics[rule.code].days >= -2"
                ng-class="vm.applyCollor(vm.scanResults.statistics[rule.code].value)" class="badge badge-pill">

             <span ng-if="vm.scanResults.statistics[rule.code].days === -2">{{vm.phishingClass(vm.scanResults.statistics[rule.code].value)}}</span>
             <span ng-if="vm.scanResults.statistics[rule.code].days !== -2">{{vm.scanResults.statistics[rule.code].days}} &nbsp; days</span>
          </span>
          <span ng-if="vm.scanResults.statistics[rule.code].percentage >= 0"
                ng-class="vm.applyCollor(vm.scanResults.statistics[rule.code].value)" class="badge badge-pill">
            {{vm.scanResults.statistics[rule.code].percentage}} %
          </span>
          <span ng-if="vm.scanResults.statistics[rule.code].rank >= -2"
                ng-class="vm.applyCollor(vm.scanResults.statistics[rule.code].value)" class="badge badge-pill">
            <span ng-if="vm.scanResults.statistics[rule.code].rank === -2"> No rank</span>
            <span ng-if="vm.scanResults.statistics[rule.code].rank !== -2">{{vm.scanResults.statistics[rule.code].rank}} &nbsp; rank</span>
          </span>
          <span  ng-class="vm.applyCollor(vm.scanResults.statistics[rule.code].value)" class="badge badge-pill">
            {{vm.phishingClass(vm.scanResults.statistics[rule.code].value)}}
          </span>
        </li>
        <!--<li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-primary badge-pill">1</span>
        </li>-->
      </ul>
    </div>
  </div>
<!--  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>

      <ul class="list-group">
        <li class="list-group-item">SSL connection (HTTPS) and certificate signing and expiration date</li>
        <li class="list-group-item">The length of the URL</li>
        <li class="list-group-item">Number of dots within URL</li>
        <li class="list-group-item">Number of slashes within URL</li>
        <li class="list-group-item">Existence of @ symbol or not</li>
        <li class="list-group-item">Number of TLD and out of TLD position</li>
        <li class="list-group-item">Presence of Hexadecimal or IP address within the URL or not</li>
        <li class="list-group-item">Age of Domain: This feature can be extracted from WHOIS database</li>
        <li class="list-group-item">Alexa Ranking of the website</li>
        <li class="list-group-item">Check if exisit vlid DNS record for the requested website</li>
        <li class="list-group-item">URL similarity check with most popular google search results - Levenstine algorithm</li>
        <li class="list-group-item">Special Character: IF a URL contains any of this characters such as dash (-), underscore (_), comma (,), and semicolon (;)</li>
      </ul>

    </div>
  </div>-->
</div>

<footer></footer>

