.phish-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.marginTop15 {
  margin-top: 15px;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-danger {
  background-color: #b94a48;
}
.badge-danger:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.scan-element{
  background-color:#ffffff;
}
.scan-element:hover{
  background-color:#d9edf7;
  border-color: #bce8f1
}
.scan-element:active{
  background-color:#d9edf7;
  border-color: #bce8f1
}

.scan-element-selected{
  background-color:#d9edf7;
  border-color: #bce8f1
}

/*progress bar CSS*/

.progress {
  margin-bottom: 0px;
}

.progress-bar{
  font-size: 14px;
}

.progress-bar-very-legitimate {
  background-color: #356635;
}

.progress-bar-fair {
  background-color: #FFE87C;
}

.phishing-class-label{
  font-weight: bold;
  font-size: 70%;
}

.phishing-class-label-90{
  font-weight: bold;
  font-size: 90%;
}
.scan-class-label{
  font-size: 65%;
}

.panel-body-wrap  {
  word-wrap: break-word;
}
