<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>PhishEdu</h1>
    <p class="lead">Phish the phish!</p>
    <img src="assets/images/icon-phishing.png" hight="70px" width="70px" alt="PhishEdu">
  </div>
</header>

<div class="container">

  <div ng-if="vm.isAuthenticated()">
    <form class="thing-form">
      <label>Analize the website to detect phishing</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Check website" ng-model="">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="">Scan Website</button>
      </span>
      </p>
    </form>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>

      <ul class="list-group">
        <li class="list-group-item">SSL connection (HTTPS) and certificate signing and expiration date</li>
        <li class="list-group-item">The length of the URL</li>
        <li class="list-group-item">Number of dots within URL</li>
        <li class="list-group-item">Number of slashes within URL</li>
        <li class="list-group-item">Existence of @ symbol or not</li>
        <li class="list-group-item">Number of TLD and out of TLD position</li>
        <li class="list-group-item">Presence of Hexadecimal or IP address within the URL or not</li>
        <li class="list-group-item">Age of Domain: This feature can be extracted from WHOIS database</li>
        <li class="list-group-item">Alexa Ranking of the website</li>
        <li class="list-group-item">Check if exisit vlid DNS record for the requested website</li>
        <li class="list-group-item">URL similarity check with most popular google search results - Levenstine algorithm</li>
        <li class="list-group-item">Special Character: IF a URL contains any of this characters such as dash (-), underscore (_), comma (,), and semicolon (;)</li>
      </ul>

    </div>
  </div>
</div>

<footer></footer>

